* {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px) {
    p {
        color: green;
        background-color: red;
    }

}


.mail {
    text-decoration: none;
}

.liste {
    text-align: center;
}

h3 {
    text-align: center;
}

.image {
    float: left;
}

.click {
    color: tomato;
}

.carré {
    border: 2px green solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px green;
    width: 25%;
    padding: 5%;
    margin: 20%;
    text-align: center;
}

.carré:hover {
    color: green;
}

.carré:active {
    background-color: green;
}

.section1 {
    display: flex;
    flex-direction: row-reverse;
}

.article1 {
    border: 2px red solid;
    width: 10%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 1%;
}

.article2 {
    border: 2px yellow solid;
    width: 10%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 1%;
}

.article3 {
    border: 2px blue solid;
    width: 10%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 1%;
}

td, th {
    border: 3px purple solid;
    text-align: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

:required:active {
    background-color: red;
}

:focus {
    color: green;
}

.btn {
    background-color: purple;
    border: 3px aqua solid;
    border-radius: 20px;
    color: aqua;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

.btn:hover {
    transform: scale(1.50);
}

#pseudo {
   border: 4px blueviolet solid;
   border-radius: 20px;
   transform: scale(1);
}

#pseudo:focus {
   
   padding: 10px; color: blueviolet;
    transform: scale(1.50);
}

.bouton {
    background-color: chartreuse;
    color: red;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: 2px cornflowerblue solid;
    width: 150px;
    margin-left: 20%;
}

.bouton:hover + .ball {
    transform: scale(1.50);
}

.ball {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100%;
    transform: scale(0.5);
    transition: transform 4000ms;
}